.players{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 25px 0 15px;
}
.player{
  border: 1px solid #000;
  cursor: pointer;
  padding: 5px 12px;
}
.random{
  margin-bottom: 25px;
  color: tomato;
  border: 1px solid tomato;
  cursor: pointer;
  padding: 5px 12px;
}
.grid {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(160px, 160px));
}
.startgrid{
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.nextgrid{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.lastgrid{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.element {
  width: 150px;
  height: 25px;
  border: 1px solid #000;
  position: relative;
}
button{
  cursor: pointer;
}
